﻿<!-- @using Astronaut.Models;
@{
    ViewBag.Title = "Group Regsitration";
    Layout = null;
    List<Country> lstCountry = new List<Country>();
    lstCountry = ViewBag.lstCountry;
} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Astronaut Registration Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <style>
        #loader {
            display: none;
        }

        #loader {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #f1f1f1c7;
            left: 0px;
            top: 0px;
            z-index: 9999;
        }

        #loader .loaderWrap {
            width: 100%;
            max-width: 320px;
            position: absolute;
            background: #fffffff5;
            left: 50%;
            top: 30%;
            margin-top: -75px;
            margin-left: -160px;
            text-align: center;
        }
        #loader .loaderWrap img{ width: 200px; }
    </style>
</head>

<body>
    <div id="loader" style="display:none">
        <div class="loaderWrap">
            <img src="../Assets/img/loader.gif" />
            <label class="blinking">Please wait! File is uploading...!</label>
        </div>
    </div>
    <div class="container">
        <div class="logo">
            <img src="../assets/img/logoemail.png" alt="Astronaut">
        </div>
        <form action="" class="formBox" name="registrationForm" id="registrationForm">
            <h1>MBRSC- Astronaut Event (Group Registration)</h1>
            <label>Looking for Individual Registration? <a href="IndividualRegistration">Click Here</a></label>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ddlTitle">Title: <span style="color:red">*</span></label>
                        <select class="form-control" id="ddlTitle" name="ddlTitle">
                            <option value="">Please Select</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Miss">Miss </option>
                            <option value="Dr.">Dr.</option>
                            <option value="Other">Others</option>
                        </select>
                    </div>
                </div>
                <div id="divOther" style="display:none;" class="col-sm-6">
                    <div class="form-group">
                        <label for="txtOther">Please Specify: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtOther" id="txtOther" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtFirstName">First Name: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtFirstName" id="txtFirstName" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtLastName">Last Name:<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtLastName" id="txtLastName" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtDateOfBirth">Age / DOB <span style="color:red">*</span></label>

                        <div class="form-group">
                            <div id="filterDate2">
                                <div class="input-group date dob" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="txtDateOfBirth" name="txtDateOfBirth" required readonly>
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <span class="importantNote">Please note minimum age to register for this event is 5 years and above.</span>
                        </div>
                        @*<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" data-target-input="nearest" name="txtDateOfBirth" id="txtDateOfBirth" class="form-control datetimepicker-input" data-target="#datetimepicker1" data-toggle="datetimepicker" data-target="#datetimepicker1" />
                    </div>*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ddlNationality">Nationality:<span style="color:red">*</span></label>
                        <select class="form-control" id="ddlNationality" name="ddlNationality">
                            <option value="">Select Nationality</option>
                            @if (lstCountry != null)
                            {
                                for (int i = 0; i < lstCountry.Count; i++)
                                {
                                    <option value="@lstCountry[i].CountryCode">@lstCountry[i].Country1</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ddlCountry">Country of Residence: <span style="color:red">*</span></label>
                        <select class="form-control" id="ddlCountryOfResidence" name="ddlCountryOfResidence">
                            <option value="">Select Country of Residence</option>
                            @if (lstCountry != null)
                            {
                                for (int i = 0; i < lstCountry.Count; i++)
                                {
                                    <option value="@lstCountry[i].CountryCode">@lstCountry[i].Country1 (@lstCountry[i].CountryCode)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtMobile">Mobile Number:<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtMobile" id="txtMobile">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmail">Email Address:<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtEmail" id="txtEmail">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtConfirmEmail">Confirm Email Address:<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtConfirmEmail" id="txtConfirmEmail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtOrganization">Institute / Organization:<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtOrganization" id="txtOrganization">
                    </div>
                </div>
                <div class="col-sm-6" style="display:none">
                    <div class="form-group">
                        <label for="txtPosition">Position/ Profession: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtPosition" id="txtPosition">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="txtResidentUAE">Are you Resident of UAE? <span style="color:red">*</span></label>
                        <div class="mt-3">
                            <label class="radioContainer">
                                Yes
                                <input type="radio" name="txtResidentUAE" value="true">
                                <span class="checkmark"></span>
                            </label>

                            <label class="radioContainer">
                                No
                                <input type="radio" name="txtResidentUAE" value="false">
                                <span class="checkmark"></span>
                            </label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row" id="rowEmiratesID" style="display:none;padding: 30px;background: #eeeeee;border-radius: 4px;margin: 10px 0px;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmiratesID">Emirates ID:<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtEmiratesID" maxLength="15" minlength="15" id="txtEmiratesID">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmiratesIDExpiry">Emirates ID Expiry:<span style="color:red">*</span></label>
                        <div class="form-group">
                            <div id="filterDate2">
                                <div class="input-group date IDExp" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="txtEmiratesIDExpiry" name="txtEmiratesIDExpiry" required readonly>
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" data-target-input="nearest" name="txtEmiratesIDExpiry" id="txtEmiratesIDExpiry" class="form-control datetimepicker-input" data-target="#datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2" />
                    </div>*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmiratesIDFront">Emirates ID Front:<span style="color:red">*</span></label>
                        <input type="file" class="form-control" name="txtEmiratesIDFront" id="txtEmiratesIDFront" required>
                        <span class="importantNote">File size must be less than 10MB.</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmiratesIDBack">Emirates ID Back:<span style="color:red">*</span></label>
                        <input type="file" class="form-control" name="txtEmiratesIDBack" id="txtEmiratesIDBack" required>
                        <span class="importantNote">File size must be less than 10MB.</span>
                    </div>
                </div>
            </div>
            <div class="row" id="rowPassportPics" style="display:none;padding: 30px;background: #eeeeee;border-radius: 4px;margin: 10px 0px;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtPassportPic">Passport Picture:<span style="color:red">*</span></label>
                        <input type="file" class="form-control" name="txtPassportPic" id="txtPassportPic" required>
                        <span class="importantNote">File size must be less than 10MB.</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtPassportExpiry">Passport Expiry:<span style="color:red">*</span></label>
                        <div class="form-group">
                            <div id="filterDate2">
                                <div class="input-group date ppexp" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="txtPassportExpiry" name="txtPassportExpiry" required readonly>
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                        <input type="text" data-target-input="nearest" name="txtPassportExpiry" id="txtPassportExpiry" class="form-control datetimepicker-input" data-target="#datetimepicker3" data-toggle="datetimepicker" data-target="#datetimepicker3" />
                    </div>*@
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="">Events: <span style="color:red">*</span> </label>
                        <label id="session-error" class="error" for="session"></label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="checkboxAgenda">
                            <span class="date"><b>Wednesday, </b> 25 September</span>
                            <div class="time"> 04:30PM To 06:30PM</div>
                            <div class="text">
                                <label class="chkContainer">
                                    Launch to the International Space Station
                                    <input type="checkbox" id="chkLaunchEvent" name="session" value="1" disabled>
                                    <label id="lblLaunchEvent" style="color:red;">Sorry! Seats are full!</label>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="checkboxAgenda">
                            <span class="date"><b> Friday, </b>27 September </span>
                            <div class="time"> 12:30PM to 03:00PM </div>
                            <div class="text">
                                <label class="chkContainer">
                                    Live video call and radio call with Hazzaa Almansoori from the International Space Station
                                    <input type="checkbox" id="chkNASALiveCall" name="session" value="2" disabled>
                                    <label id="lblNASALiveCall" style="color:red;">Sorry! Seats are full!</label>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="checkboxAgenda">
                            <span class="date"><b> Saturday, </b> 28 September </span>
                            <div class="time"> 02:00PM To 03:30PM </div>
                            <div class="text">
                                <label class="chkContainer">
                                    Radio Call with Hazzaa Almansoori from the International Space Station
                                    <input type="checkbox" id="chkHamRadio1" name="session" value="3">
                                    <label id="lblHamRadio1" style="color:red;"></label>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="checkboxAgenda">
                            <span class="date"><b> Sunday, </b> 29 September </span>
                            <div class="time"> 01:30PM To 03:30PM </div>
                            <div class="text">
                                <label class="chkContainer">
                                    Live video Call with Hazzaa Almansoori from the International Space Station
                                    <input type="checkbox" id="chkHamRadio2" name="session" value="4">
                                    <label id="lblHamRadio2" style="color:red;"></label>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="checkboxAgenda">
                            <span class="date"><b> Monday, </b> 30 September </span>
                            <div class="time"> 11:30AM To 02:15PM </div>
                            <div class="text">
                                <label class="chkContainer">
                                    Live Video Call with Hazzaa Almansoori from the International Space Station
                                    <input type="checkbox" id="chkRussiaLiveCall1" name="session" value="5" disabled>
                                    <label id="lblRussiaLiveCall1" style="color:red;">Sorry! Seats are full!</label>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="checkboxAgenda">
                            <span class="date"><b> Tuesday, </b> 1 October </span>
                            <div class="time">  03:00PM To 4:30PM </div>
                            <div class="text">
                                <label class="chkContainer">
                                    Live Video Call with Hazzaa Almansoori from the International Space Station
                                    <input type="checkbox" id="chkRussiaLiveCall2" name="session" value="6">
                                    <label id="lblRussiaLiveCall2" style="color:red;"></label>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="checkboxAgenda">
                            <span class="date"><b> Thursday, </b> 3 October </span>
                            <div class="time"> 01:30PM to 03:30PM </div>
                            <div class="text">
                                <label class="chkContainer">
                                    Landing Live from the International Space Station
                                    <input type="checkbox" id="chkJAXAEducationalEvent" name="session" value="7" disabled>
                                    <label id="lblJAXAEducationalEvent" style="color:red;">Sorry! Seats are full!</label>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div id="medi-table">
                        <a href="#." class="addMore" id="addMore">Add Registrant</a>
                        <div id="childForm" class="newChild" style="display: none;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtChildFirstName">First Name:<span style="color:red">*</span></label>
                                        <input type="text" class="form-control childInput1" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)" name="txtChildFirstName" id="txtChildFirstName">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtChildLastName">Last Name:<span style="color:red">*</span></label>
                                        <input type="text" class="form-control childInput2" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)" name="txtChildLastName" id="txtChildLastName">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="txtChildEmiratesID">Emirates ID:<span style="color:red">*</span></label>
                                        <input type="text" class="form-control childInput4" name="txtChildEmiratesID" maxLength="15" minlength="15" id="txtChildEmiratesID">
                                    </div>
                                </div>

                                <div class="col-sm-12 text-right">
                                    <a href="#." class="btn-add-med mt-2 addMore" id="addButton">Add</a>
                                </div>
                            </div>
                            <div id="contentHere">
                                <h2>List Of Registrants: <span style="font-size:12px" id="lblStuCount">(Count: 0)</span></h2>
                                <div class="tableWrap">
                                    <table id="tblStudents" class="table">
                                        <thead>
                                            <tr>
                                                <th>Sr.</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Emirates ID</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="userInfo">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="form-group">
                        <button id="submit" type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="infoBox">
            <div class="row text-left justify-content-center">
                <div class="col-sm-4">
                    <h3>Need help in registering?</h3>
                </div>
                <div class="col-sm-4">
                    <p>
                        <strong>Please Contact:</strong><br>
                        <b>Phone: </b><a href="tel:+971 54 583 8747">+971 54 583 8747</a> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*<script src="../assets/js/jquery.min.js"></script>*@
    @*<script src="~/Assets/js/jquery.validate.js"></script>*@
    <script src="../assets/js/popper.min.js"></script>
    @*<script src="../assets/js/bootstrap.min.js"></script>*@
    @*<script src="../assets/js/moment.min.js"></script>*@
    @*<script src="../assets/js/tempusdominus-bootstrap-4.min.js"></script>*@


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
    //var $targetArea = $("#userInfo");
    //$(document).ready(function() {

    //});

    ///
        function preventNumberInput(e) {

            var keyCode = (e.keyCode ? e.keyCode : e.which);
            if (keyCode > 47 && keyCode < 58 || keyCode > 95 && keyCode < 107) {
                e.preventDefault();
            }
        }
        
            
        $(document).ready(function () {


            var isuae = false;
            var StuCount = 0;
            var sessionCount = 0;

            $('.input-group.date.dob').datepicker({
                format: "dd/mm/yyyy",
                endDate: '-5y',
            });
            $('.input-group.date.IDexp').datepicker({
                format: "dd/mm/yyyy",
                startDate: '+1d'
            });
            $('.input-group.date').datepicker({
                format: "dd/mm/yyyy",
                startDate: '+1d'
            });




            var $targetArea = $("#userInfo");

            $(".btn-add-med").click(function () {

                var value = $('input.childInput1').val();
                value2 = $('input.childInput2').val();
                value4 = $('input.childInput4').val();

                if (value == '' || value2 == '' || value4 == '') {
                    alert('Please provide complete registrant info!');
                    return;
                }
                if (value4.length != 15) {
                    alert('Emirates ID must be 15 digits long!');
                    return;
                }
                StuCount++;
                //console.log(value)
                //  $targetArea.append('<tr class="newRow"><td>' + StuCount + '</td><td>' + value + '</td><td>' + value2 + '</td><td>' + value3 + '</td><td>' + value4 + '</td><td style="text-align:center;"><a href="#." class="removeRow"><i class="fa fa-close"></i></a></td></tr>');
                $targetArea.append('<tr class="newRow"><td class="rownumber">' + StuCount + '</td><td>' + value + '</td><td>' + value2 + '</td><td>' + value4 + '</td><td style="text-align:center;"><a href="#." class="removeRow"><i class="fa fa-close"></i></a></td></tr>');
                $('input.childInput1').val('');
                $('input.childInput2').val('');
                $('input.childInput3').val('');
                $('input.childInput4').val('');
                $('#lblStuCount').text('(Count: ' + StuCount + ')');

                $(".removeRow").click(function () {
                    //console.log('click hu gallery-title');
                    $(this).closest('tr.newRow').remove();

                    StuCount = $('#tblStudents tr').length - 1;
                    $('#lblStuCount').text('(Count: ' + StuCount + ')');

                    $('#tblStudents tbody tr').each(function (i, v) {

                        $(this).find(".rownumber").text(i + 1);
                    });

                });
            });

            $("#addMore").click(function () {
                $(".newChild").slideToggle();
            });

            var SessionID = 0;
            $("#registrationForm").validate({
                rules: {
                    ddlTitle: {
                        required: true
                    },
                    txtFirstName: {
                        required: true
                    },
                    txtLastName: {
                        required: true
                    },
                    txtDateOfBirth: {
                        required: true
                    },
                    txtPosition: {
                        required: true
                    },
                    txtOrganization: {
                        required: true
                    },
                    ddlNationality: {
                        required: true
                    },
                    ddlCountryOfResidence: {
                        required: true
                    },
                    txtMobile: {
                        required: true
                    },
                    txtEmiratesID: {
                        required: true,
                    },
                    txtEmail: {
                        required: true,
                        email: true,
                    },
                    txtConfirmEmail: {
                        required: true,
                        equalTo: "#txtEmail"
                    },
                    session: {
                        required: true,
                    },
                    txtEmiratesIDExpiry: {
                        required: true,
                    },
                    txtPassportExpiry: {
                        required: true,
                    },
                },
                messages: {
                    txtEmiratesIDExpiry: "Please Provide Expiry date of Emirates ID",
                    txtPassportExpiry: "Please Provide Expiry date of Passport",
                    ddlTitle: "Please select your Title",
                    txtEmiratesIDExpiry: "Please Provide Expiry date of Emirates ID",
                    txtFirstName: "Please enter your First Name",
                    txtLastName: "Please enter your Last Name",
                    txtDateOfBirth: "Please select Date Of Birth",
                    txtPosition: "Please enter your Position/ Profession",
                    txtOrganization: "Please enter your Institute / Organization",
                    ddlNationality: "Please select your Nationality",
                    ddlCountryOfResidence: "Please select Country of Residence",
                    txtMobile: "Please enter your Mobile Number",
                    txtEmail: {
                        required: "Please enter your Email Address",
                        email: "Please enter Correct Email Address"
                    },
                    txtConfirmEmail: {
                        required: "Please enter your Email Address",
                        equalTo: "Please enter same Email Address"
                    },
                    txtEmiratesID: {
                        required: "Please enter your Emirates ID Number",
                        minlength: "Emirates ID should be 15 digits long."
                    },
                    session: "Please Select atleast one Option",
                },
            });

            $('input[name=txtResidentUAE]').click(function () {
                if ($(this).val() == "true") {
                    $("#rowEmiratesID").show('fast');
                    $("#rowEmiratesPics").show('fast');
                    $("#rowPassportPics").hide('fast');
                    isuae = $(this).val();
                    $("#chkNASALiveCall").prop('disabled', false);
                }
                else {
                    if ($("#chkNASALiveCall").is(':checked')) {
                        $("#chkNASALiveCall").prop('checked', false);
                        sessionCount--;
                    }

                    $("#chkNASALiveCall").prop('disabled', true);
                    $("#rowEmiratesID").hide('fast');
                    $("#rowPassportPics").show('fast');
                    $("#rowEmiratesPics").hide('fast');
                    isuae = $(this).val();
                }
            });

            $("#ddlCountryOfResidence").change(function () {
                var selected = $("#ddlCountryOfResidence option:selected").val();
                if (selected == "971") {
                    //$("#fax-area").show();
                    $("#txtMobile").val("");
                    $("#txtMobile").prop('maxLength', 9);
                    $("#txtMobile").prop('minLength', 9);
                }
                else {
                    //$("#fax-area").show();
                    $("#txtMobile").val("");
                    $("#txtMobile").prop('maxLength', 15);
                    $("#txtMobile").prop('minLength', 8);
                }
            });

            $("#txtEmiratesID").focusout(function () {
                var s = $("#txtEmiratesID").val();
                $("#txtEmiratesID").val(s.replace(/^(0+)/g, ''));
            });

            $("#txtChildEmiratesID").focusout(function () {
                var s = $("#txtChildEmiratesID").val();
                $("#txtChildEmiratesID").val(s.replace(/^(0+)/g, ''));
            });

            $("#txtMobile").focusout(function () {
                var s = $("#txtMobile").val();
                $("#txtMobile").val(s.replace(/^(0+)/g, ''));
                var s = $("#txtMobile").val();
                var code = $("#ddlCountryOfResidence option:selected").val();
                if (s.indexOf(code) == 0) {
                    $("#txtMobile").val(s.split(code)[1]);
                }
            });

            $("#txtMobile").keyup(function () {
                var numbers = $(this).val();
                $(this).val(numbers.replace(/\D/, ''));
            });

            $("#txtEmiratesID").keyup(function () {
                var numbers = $(this).val();
                $(this).val(numbers.replace(/\D/, ''));
            });

            $("#txtChildEmiratesID").keyup(function () {
                var numbers = $(this).val();
                $(this).val(numbers.replace(/\D/, ''));
            });

            $('#txtEmiratesIDFront').change(function () {

                var fileUpload = $("#txtEmiratesIDFront").get(0);
                var files = fileUpload.files;

                if (files.length == 0) {
                    alert("Please upload front side of Emirates ID");
                    return;
                }
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    if (files[i].size > 10485760) {
                        alert("Emirates ID Front picture size is too large! Max file size is 10 MB");
                        $('#txtEmiratesIDFront').val('');
                        return;
                    }
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@Url.Action("uplaodFrontEmiratesID", "Registration")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    beforeSend: function (data) {
                        $("#loader").show();
                        $("#lblMsg").show();

                    },
                    success: function (data) {

                    },
                    error: function () {

                    },
                    complete: function () {
                        $("#loader").hide();
                        $("#lblMsg").hide();
                    },
                });


            });

            $('#txtEmiratesIDBack').change(function () {

                var fileUpload = $("#txtEmiratesIDBack").get(0);
                var files = fileUpload.files;

                if (files.length == 0) {
                    alert("Please upload back side of Emirates ID");
                    return;
                }

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    if (files[i].size > 10485760) {
                        alert("Emirates ID Back picture size is too large! Max file size is 10 MB");
                        $('#txtEmiratesIDBack').val('');
                        return;
                    }
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@Url.Action("uplaodBackEmiratesID", "Registration")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    beforeSend: function (data) {
                        $("#loader").show();
                        $("#lblMsg").show();
                    },
                    success: function (data) {

                    },
                    error: function () {

                    },
                    complete: function () {
                        $("#loader").hide();
                        $("#lblMsg").hide();
                    },
                });


            });

            $('#txtPassportPic').change(function () {

                var fileUpload = $("#txtPassportPic").get(0);
                var files = fileUpload.files;

                if (files.length == 0) {
                    alert("Please upload passport picture!");
                    return;
                }

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    if (files[i].size > 10485760) {
                        alert("Passport Picture size is too large! Max file size is 10 MB");
                        $('#txtPassportPic').val('');
                        return;
                    }
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@Url.Action("uplaodPassport", "Registration")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    beforeSend: function (data) {
                        $("#loader").show();
                        $("#lblMsg").show();
                    },
                    success: function (data) {

                    },
                    error: function () {

                    },
                    complete: function () {
                        $("#loader").hide();
                        $("#lblMsg").hide();
                    },
                });


            });

             $('input[type="checkbox"]').click(function (e) {
                 
                if ($(this).is(':checked')) {

                    if (sessionCount >= 4) {

                        $(this).prop("checked", false);

                        swal("Message!", "You can select only 4 Events!", "info");
                        return;
                    }
                    var value = $(this).attr("value").trim();
                    SessionID = value;

                    $.ajax({
                        url: '@Url.Action("checkCapacity", "Registration")',
                        type: "post",
                        dataType: 'json',
                        contentType: "application/json",
                        data: JSON.stringify({
                            '_SessionID': SessionID
                        }),
                        beforeSend: function (data) {
                            $('#loader').show();
                        },
                        success: function (data) {
                            if (data.success) {
                                $(this).prop('disabled', false);
                                sessionCount++;
                            }
                            else {
                                if (SessionID == 1) {
                                    $('#chkLaunchEvent').prop("checked", false);
                                    //$("#chkLaunchEvent").prop('disabled', true);
                                    $("#lblLaunchEvent").show();
                                    $("#lblLaunchEvent").text('Sorry! Seats are full!');
                                }
                                if (SessionID == 2) {
                                    $('#chkNASALiveCall').prop("checked", false);
                                   // $("#chkNASALiveCall").prop('disabled', true);
                                    $("#lblNASALiveCall").show();
                                    $("#lblNASALiveCall").text('Sorry! Seats are full!');
                                }
                                if (SessionID == 3) {
                                    $('#chkHamRadio1').prop("checked", false);
                                    //$("#chkHamRadio1").prop('disabled', true);
                                    $("#lblHamRadio1").show();
                                    $("#lblHamRadio1").text('Sorry! Seats are full!');
                                }
                                if (SessionID == 4) {
                                    $('#chkHamRadio2').prop("checked", false);
                                   // $("#chkHamRadio2").prop('disabled', true);
                                    $("#lblHamRadio2").show();
                                    $("#lblHamRadio2").text('Sorry! Seats are full!');
                                }
                                if (SessionID == 5) {
                                    $('#chkRussiaLiveCall1').prop("checked", false);
                                  //  $("#chkRussiaLiveCall1").prop('disabled', true);
                                    $("#lblRussiaLiveCall1").show();
                                    $("#lblRussiaLiveCall1").text('Sorry! Seats are full!');
                                }
                                if (SessionID == 6) {
                                    $('#chkRussiaLiveCall2').prop("checked", false);
                                   // $("#chkRussiaLiveCall2").prop('disabled', true);
                                    $("#lblRussiaLiveCall2").show();
                                    $("#lblRussiaLiveCall2").text('Sorry! Seats are full!');
                                }
                                if (SessionID == 7) {
                                    $('#chkJAXAEducationalEvent').prop("checked", false);
                                   // $("#chkJAXAEducationalEvent").prop('disabled', true);
                                    $("#lblJAXAEducationalEvent").show();
                                    $("#lblJAXAEducationalEvent").text('Sorry! Seats are full!');
                                }
                            }
                        },
                        error: function () {
                            $("#loader").hide();
                        },
                        complete: function () {
                            $("#loader").hide();
                        }
                    });
                }
                else {
                    sessionCount--;
                }
            });

            $('#txtDateOfBirth').focusout(function () {
                var value = $('#txtDateOfBirth').val();

                if (value == '') {
                    var dt = new Date();
                    var month = dt.getMonth() + 1;
                    if (month < 10)
                        $('#txtDateOfBirth').val(dt.getDate() + '/0' + month + '/' + dt.getFullYear());
                    else
                        $('#txtDateOfBirth').val(dt.getDate() + '/' + month + '/' + dt.getFullYear());
                }
            });

            $('#txtEmiratesIDExpiry').focusout(function () {
                var value = $('#txtEmiratesIDExpiry').val();

                if (value == '' || value.length != 10) {
                    var dt = new Date();
                    var month = dt.getMonth() + 1;
                    if (month < 10)
                        $('#txtEmiratesIDExpiry').val(dt.getDate() + '/0' + month + '/' + dt.getFullYear());
                    else
                        $('#txtEmiratesIDExpiry').val(dt.getDate() + '/' + month + '/' + dt.getFullYear());
                }
            });

            $('#txtPassportExpiry').focusout(function () {
                var value = $('#txtPassportExpiry').val();

                if (value == '' || value.length != 10) {
                    var dt = new Date();
                    var month = dt.getMonth() + 1;
                    if (month < 10)
                        $('#txtPassportExpiry').val(dt.getDate() + '/0' + month + '/' + dt.getFullYear());
                    else
                        $('#txtPassportExpiry').val(dt.getDate() + '/' + month + '/' + dt.getFullYear());
                }
            });

            $('#submit').click(function () {
               
                if (!$("#registrationForm").valid()) {

                    $('html, body').animate({
                        scrollTop: $("#registrationForm").offset().top
                    }, 20);

                    return;
                }


                if (StuCount < 10) {
                    alert('Registrants must be atleast 10');
                    return;
                }

                var students = new Array();
                $("#tblStudents TBODY TR").each(function () {
                    var row = $(this);
                    var stu = {};
                    stu.FirstName = row.find("TD").eq(1).html();
                    stu.LastName = row.find("TD").eq(2).html();
                    stu.EmiratesID = row.find("TD").eq(3).html();
                    students.push(stu);
                });

                if ($('#ddlTitle').val() == 'Other' && $('#txtOther').val() == '') {
                    swal("Alert!", "Please specify other business type!", "warning");
                    $('#txtOther').focus();
                    return;
                }

                var title = "";
                if ($("#ddlTitle").val() == 'Other') {
                    title = $("#ddlTitle").val() + ": " + $("#txtOther").val();
                } else {
                    title = $("#ddlTitle").val();
                }

                var dob = $("#txtDateOfBirth").val();
                dob = dob.split('/');
                dob = dob[1] + '-' + dob[0] + '-' + dob[2];

                var exp = $("#txtEmiratesIDExpiry").val();
                if (exp != '') {

                    exp = exp.split('/');
                    exp = exp[1] + '-' + exp[0] + '-' + exp[2];
                }
                var exppp = $("#txtPassportExpiry").val();
                if (exppp != '') {
                    exppp = exppp.split('/');
                    exppp = exppp[1] + '-' + exppp[0] + '-' + exppp[2];
                }

                var dt = new Date();
                dt = dt.getFullYear() + "/" + dt.getMonth() + "/" + dt.getDate();

                var sessions = "";
                var LaunchEvent = 0;
                var NASALiveCall = 0;
                var HamRadio1 = 0;
                var HamRadio2 = 0;
                var RussiaLiveCall1 = 0;
                var RussiaLiveCall2 = 0;
                var JAXAEducationalEvent = 0;

                 
                StuCount++;
                if ($('#chkLaunchEvent').is(":checked")) {
                    LaunchEvent = StuCount;
                    sessions += $('#chkLaunchEvent').val() + ",";
                }
                if ($('#chkNASALiveCall').is(":checked")) {
                    NASALiveCall = StuCount;
                    sessions += $('#chkNASALiveCall').val() + ",";
                }
                if ($('#chkHamRadio1').is(":checked")) {
                    HamRadio1 = StuCount;
                    sessions += $('#chkHamRadio1').val() + ",";
                }
                if ($('#chkHamRadio2').is(":checked")) {
                    HamRadio2 = StuCount;
                    sessions += $('#chkHamRadio2').val() + ",";
                }
                if ($('#chkRussiaLiveCall1').is(":checked")) {
                    RussiaLiveCall1 = StuCount;
                    sessions += $('#chkRussiaLiveCall1').val() + ",";
                }
                if ($('#chkRussiaLiveCall2').is(":checked")) {
                    RussiaLiveCall2 = StuCount;
                    sessions += $('#chkRussiaLiveCall2').val() + ",";
                }
                if ($('#chkJAXAEducationalEvent').is(":checked")) {
                    JAXAEducationalEvent = StuCount;
                    sessions += $('#chkJAXAEducationalEvent').val() + ",";
                }
                if ($('#chkRussiaLiveCall3').is(":checked")) {
                    RussiaLiveCall3 = StuCount;
                    sessions += $('#chkRussiaLiveCall3').val() + ",";
                }
                if ($('#chkLiveFeedLanding').is(":checked")) {
                    LiveFeedLanding = StuCount;
                    sessions += $('#chkLiveFeedLanding').val() + ",";
                }

                var lst = {
                    'Title': title,
                    'FirstName': $("#txtFirstName").val(),
                    'LastName': $("#txtLastName").val(),
                    'DOB': dob,
                    'Nationality': $("#ddlNationality option:selected").text(),
                    'CountryOfResidence': $("#ddlCountryOfResidence option:selected").text().split('(')[0],
                    'MobileNumber': $("#ddlCountryOfResidence option:selected").val() + ' ' + $("#txtMobile").val(),
                    'Email': $('#txtEmail').val(),
                    'Organization': $("#txtOrganization").val(),
                    'Position': $('#txtPosition').val(),
                    'EmiratesID': $('#txtEmiratesID').val(),
                    'EmiratesExpiry': exp,
                    'LaunchEvent': LaunchEvent,
                    'NASALiveCall': NASALiveCall,
                    'HamRadio1': HamRadio1,
                    'HamRadio2': HamRadio2,
                    'RussiaLiveCall1': RussiaLiveCall1,
                    'RussiaLiveCall2': RussiaLiveCall2,
                    'JAXAEducationalEvent': JAXAEducationalEvent,
                    'EventSummary': sessions,
                    'PassportExpiry': exppp,
                    'IsUAE': isuae,
                    'RegistrationType': 'Group',
                    'DateRegister': new Date(),
                    'Language': 'English',
                    'Status': 2,
                };


                $.ajax({
                    url: '@Url.Action("SaveGroupRegistration", "Registration")',
                    type: "POST", dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify({
                        'lst': lst,
                        '_stu': students,
                    }),
                    beforeSend: function (data) {
                        $("#loader").show();
                    },
                    success: function (data) {
                        if (data.success) {

                            location.href = "../registration/thankyou";

                        } else {
                            swal("Failed!", "Unable to Registration!", "Error");
                        }
                    },
                    error: function () {

                    },
                    complete: function () {
                        $("#loader").hide();
                    },
                });
            });

            $('#ddlTitle').change(function () {
                var value = $(this).val();
                if (value == 'Other') {
                    $('#divOther').show('fast');
                } else {
                    $('#divOther').hide('fast');
                }
            });

            
        });
    </script>
</body>

</html>