﻿
@{
    ViewBag.Title = "Welcom";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="../Assets/css/style1.css" rel="stylesheet" />

</head>

<body>
    
    <div class="selectWrapper" style="background:white !important;padding-top:0 !important; margin-top:0 !important; top:0 !important">
        <div class="logo">
            <img src="../assets/img/logoemail.png" alt="">
        </div>
        <div class="smallWrapper">
            <div class="contentSelect">
                <h1 style="color:white;">Welcome to MBRSC - Astronaut Event</h1>
                <p>PLEASE SELECT YOUR REGISTRATION TYPE</p>
                <a href="../registration/IndividualRegistration" class="btn cstmBtnNext"> Individual Registration</a>
                <a href="../registration/GroupRegistration" class="btn cstmBtnNext"> Group Registration</a>
            </div>
        </div>
    </div>
</body>
</html>