* {
    margin: 0;
    padding: 0;
}

.selectWrapper {
    background: transparent !important;
    max-width: 680px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -340px;
    top: 50%;
    margin-top: -200px;
}

.smallWrapper {
    background: #2b60f5 !important;
    padding: 40px;
    text-align: center;
    border-radius: 6px;
}

.logo {
    width: 100%;
    display: inline-block;
    padding-bottom: 30px;
}

.logo img {
    max-width: 100%
}

.cstmBtnNext {
    margin-top: 30px;
    background: #fff;
    color: #2b60f5;
    font-size: 20px;
    padding: 22px 30px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin: 40px 10px 0px;
}

.cstmBtnNext:hover {
    margin-top: 30px;
    background: #1a44bb;
    color: #ffffff;
    font-size: 20px;
    padding: 22px 30px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin: 40px 10px 0px;
}

.selectWrapper p {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
}

@media (max-width: 880px) {
    .selectWrapper {
        background: #1a44bb !important;
        width: calc(80% - 10%);
        margin: 0 auto;
        font-family: 'PT Sans', sans-serif;
        padding: 10%;
        text-align: center;
        border-radius: 6px;
        position: initial;
        left: auto;
        margin-left: auto;
        top: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .cstmBtnNext {
        padding: 15px 20px;
    }

    .cstmBtnNext:last-child {
        margin: 40px 0px 20px;
    }
}