.formBox {
    padding: 40px 0px;
}

.formBox h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.blinking {
    -webkit-animation-name: blinkingText;
    /* Safari 4.0 - 8.0 */
    animation-name: blinkingText;
    animation-iteration-count: infinite;
    display: inline-block;
    width: 100%;
    font-size: 20px;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }

    49% {
        color: transparent;
    }

    50% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: #000;
    }
}

.logo {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.logo img {
    max-width: 100%;
}

.chkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.chkContainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.chkContainer:hover input~.checkmark {
    background-color: #ccc;
}

.chkContainer input:checked~.checkmark {
    background-color: #2196F3;
}

.chkContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.chkContainer input:checked~.checkmark:after {
    display: block;
}

.chkContainer .checkmark:after {
    left: 8px;
    top: 2.5px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.addMore,
.btn-add-med {
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 4px;
}

.addMore:hover,
.btn-add-med:hover {
    color: #fff;
}

.newChild {
    padding: 30px;
    background: #eeeeee;
    border-radius: 4px;
    margin: 10px 0px;
}

.newChild .form-group {
    margin: 0px;
}

.userInfo {
    width: 100%;
    border: 1px solid #ddd;
}

#contentHere h2 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.removeRow {
    text-align: center;
    color: #f00;
}

#tblStudents {
    min-width: 700px;
    width: 100%;
}

#tblStudents tr {
    width: 100%;
}

.tableWrap {
    overflow: auto;
}



.checkboxAgenda {
    display: inline-block;
}

.checkboxAgenda span.date {
    line-height: 35px;
    color: #333;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.checkboxAgenda span.date b {
    min-width: 182px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}

.checkboxAgenda div.time {
    color: #999;
    float: left;
    margin: 0 0;
    text-align: right;
    width: 180px;
    padding: 10px 30px 10px 0px;
    border-right: 1px solid rgba(0, 0, 0, .10);
}

.checkboxAgenda div.text {
    padding: 10px 10px 10px 10px;
    background: #D4F4EF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid transparent;
    border-radius: 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid transparent;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0px 20px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.checkboxAgenda div.text label.chkContainer {
    margin: 0;
    font-size: 14px;
}

.checkboxAgenda div.text input {}

.checkboxAgenda .chkContainer .checkmark {
    background: #fff;
    border-radius: 4px;
}



.radioContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioContainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radioContainer:hover input~.checkmark {
    background-color: #ccc;
}

.radioContainer input:checked~.checkmark {
    background-color: #2196F3;
}

.radioContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radioContainer input:checked~.checkmark:after {
    display: block;
}

.radioContainer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.infoBox {
    margin: 10px auto 50px
}

.infoBox {}

.infoBox h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 26px;
}

.infoBox p {
    font-size: 16px;
    line-height: 23px;
    color: #000;
    margin: 0;
}

.infoBox a {
    color: #000;
}

#submit { width: 60%; padding:10px; font-size: 16px; margin-top: 50px; }


.importantNote { font-size: 12px; display: inline-block; line-height: 20px; width: 100%; margin-top:10px; }



@media (max-width:991px) {
    .checkboxAgenda div.text {
        max-width: 66%;
    }
}

@media (max-width:767px) {
    .infoBox h3 {
        margin: 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 26px;
    }

    .checkboxAgenda span.date b {
        min-width: auto;
    }

    .checkboxAgenda div.text {
        margin: 0px;
        margin-bottom: 15px;
    }

    .checkboxAgenda div.time {
        padding: 0px 0px 10px;
        width: 100%;
        text-align: left;
        border: 0px;
    }

    .checkboxAgenda span.date {
        margin-bottom: 0px;
    }

    .checkboxAgenda div.text {
        max-width: 100%;
    }
}