﻿@using Astronaut.Models;
@{
    ViewBag.Title = "Media Registration";
    Layout = null;
    List<Country> lstCountry = new List<Country>();
    lstCountry = ViewBag.lstCountry;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Astronaut Registration Form</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <style>
        #loader {
            display: none;
        }

        #loader {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #f1f1f1a3;
            left: 0px;
            top: 0px;
            z-index: 9999;
        }

            #loader .loaderWrap {
                width: 100%;
                max-width: 320px;
                background: #fffffff5;
                position: absolute;
                left: 50%;
                top: 30%;
                margin-top: -75px;
                margin-left: -160px;
                text-align: center;
            }

                #loader .loaderWrap img {
                    width: 200px;
                }
    </style>
</head>

<body>
    <div id="loader" style="display: none">
        <div class="loaderWrap">
            <img src="../Assets/img/loader.gif" />
            <label class="blinking">Please wait! File is uploading...!</label>
        </div>
    </div>
    <div class="container">
        <div class="logo">
            <img src="../assets/img/logoemail.png" alt="Astronaut">
            <br />
        </div>
        <form class="formBox" name="registrationForm" id="registrationForm">
            <h1>MBRSC- Astronaut Event (Media Registration)</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ddlTitle">Title: <span style="color:red">*</span></label>
                        <select class="form-control" id="ddlTitle" name="ddlTitle">
                            <option value="">Please Select</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Miss">Miss </option>
                            <option value="Dr.">Dr.</option>
                            <option value="Other">Others</option>
                        </select>
                    </div>
                </div>
                <div id="divOther" style="display:none;" class="col-sm-6">
                    <div class="form-group">
                        <label for="txtOther">Please Specify: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtOther" id="txtOther" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtFirstName">First Name: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtFirstName" id="txtFirstName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtLastName">Last Name: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtLastName" id="txtLastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtDateOfBirth">Age / DOB <span style="color:red">*</span></label>

                        <div class="form-group">
                            <div id="filterDate2">
                                <div class="input-group date dob" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="txtDateOfBirth" name="txtDateOfBirth" required readonly>
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <span class="importantNote">Please note minimum age to register for this event is 5 years and above.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ddlNationality">Nationality: <span style="color:red">*</span></label>
                        <select class="form-control" id="ddlNationality" name="ddlNationality">
                            <option value="">Select Nationality</option>
                            @if (lstCountry != null)
                            {
                                for (int i = 0; i < lstCountry.Count; i++)
                                {
                                    <option value="@lstCountry[i].CountryCode">@lstCountry[i].Country1</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ddlCountry">Country of Residence: <span style="color:red">*</span></label>
                        <select class="form-control" id="ddlCountryOfResidence" name="ddlCountryOfResidence">
                            <option value="">Select Country of Residence</option>
                            @if (lstCountry != null)
                            {
                                for (int i = 0; i < lstCountry.Count; i++)
                                {
                                    <option value="@lstCountry[i].CountryCode">@lstCountry[i].Country1 (@lstCountry[i].CountryCode)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtMobile">Mobile Number: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtMobile" id="txtMobile">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmail">Email Address: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtEmail" id="txtEmail">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtConfirmEmail">Confirm Email Address: <span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtConfirmEmail" id="txtConfirmEmail">
                    </div>
                </div>
            </div>

            <div class="row" id="rowEmiratesID" >
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmiratesID">Emirates ID:<span style="color:red">*</span></label>
                        <input type="text" class="form-control" name="txtEmiratesID" maxLength="15" minlength="15" id="txtEmiratesID">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmiratesIDExpiry">Emirates ID Expiry:<span style="color:red">*</span></label>
                        <div class="form-group">
                            <div id="filterDate2">
                                <div class="input-group date IDexp" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="txtEmiratesIDExpiry" name="txtEmiratesIDExpiry" required readonly>
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmiratesIDFront">Emirates ID Front:<span style="color:red">*</span></label>
                        <input type="file" class="form-control" name="txtEmiratesIDFront" id="txtEmiratesIDFront" required>
                        <span class="importantNote">File size must be less than 10MB.</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtEmiratesIDBack">Emirates ID Back:<span style="color:red">*</span></label>
                        <input type="file" class="form-control" name="txtEmiratesIDBack" id="txtEmiratesIDBack" required>
                        <span class="importantNote">File size must be less than 10MB.</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="form-group">
                        <button id="submit" type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="infoBox">
            <div class="row text-left justify-content-center">
                <div class="col-sm-4">
                    <h3>Need help in registering?</h3>
                </div>
                <div class="col-sm-4">
                    <p>
                        <strong>Please Contact:</strong><br>
                        <b>Phone: </b><a href="tel:+971 54 583 8747">+971 54 583 8747</a> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Assets/js/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.input-group.date.dob').datepicker({
                format: "dd/mm/yyyy",
                endDate:'-5y',
            });
            $('.input-group.date.IDexp').datepicker({
                format: "dd/mm/yyyy",
                startDate: '+1d'
            });

            $("#registrationForm").validate({
                rules: {
                    ddlTitle: {
                        required: true
                    },
                    txtFirstName: {
                        required: true
                    },
                    txtLastName: {
                        required: true
                    },
                    txtDateOfBirth: {
                        required: true
                    },
                    ddlNationality: {
                        required: true
                    },
                    ddlCountryOfResidence: {
                        required: true
                    },
                    txtMobile: {
                        required: true
                    },
                    txtEmiratesID: {
                        required: true,
                    },
                    txtEmail: {
                        required: true,
                        email: true
                    },
                    txtConfirmEmail: {
                        required: true,
                        equalTo: "#txtEmail"
                    },

                    txtEmiratesIDExpiry: {
                        required: true,
                    },
                    
                    txtEmiratesIDBack: {
                        required: true,
                    },
                    txtEmiratesIDFront: {
                        required: true,
                    },
                    
                    
                },
                messages: {
                    txtEmiratesIDFront: "Please upload front side of your Emirates ID",
                    txtEmiratesIDBack: "Please upload back side of your Emirates ID",
                    ddlTitle: "Please select your Title",
                    txtEmiratesIDExpiry: "Please Enter Emirates ID Expiry Date",
                    txtFirstName: "Please enter your First Name",
                    txtLastName: "Please enter your Last Name",
                    txtDateOfBirth: "Please select Date Of Birth",
                    ddlNationality: "Please select your Nationality",
                    ddlCountryOfResidence: "Please select Country of Residence",
                    txtMobile: "Please enter your Mobile Number",
                    txtEmail: {
                        required: "Please enter your Email Address",
                        email: "Please enter Correct Email Address"
                    },
                    txtConfirmEmail: {
                        required: "Please enter your Email Address",
                        equalTo: "Please enter same Email Address"
                    },
                    txtEmiratesID: {
                        required: "Please enter your Emirates ID Number",
                        minlength: "Emirates ID must be 15 digits long."
                    },
                },
            });

            $("#ddlCountryOfResidence").change(function () {
                var selected = $("#ddlCountryOfResidence option:selected").val();
                if (selected == "971") {
                    //$("#fax-area").show();
                    $("#txtMobile").val("");
                    $("#txtMobile").prop('maxLength', 9);
                    $("#txtMobile").prop('minLength', 9);

                }
                else {
                    //$("#fax-area").show();
                    $("#txtMobile").val("");
                    $("#txtMobile").prop('maxLength', 15);
                    $("#txtMobile").prop('minLength', 8);
                }
            });

            $("#txtMobile").focusout(function () {
                var s = $("#txtMobile").val();
                $("#txtMobile").val(s.replace(/^(0+)/g, ''));
                var s = $("#txtMobile").val();
                var code = $("#ddlCountryOfResidence option:selected").val();

                if (s.indexOf(code) == 0) {
                    $("#txtMobile").val(s.split(code)[1]);
                }
            });

            $("#txtMobile").keyup(function () {
                var numbers = $(this).val();
                $(this).val(numbers.replace(/\D/, ''));
            });

            $("#txtEmiratesID").focusout(function () {
                var s = $("#txtEmiratesID").val();
                $("#txtEmiratesID").val(s.replace(/^(0+)/g, ''));
            });

            $("#txtEmiratesID").keyup(function () {
                var numbers = $(this).val();
                $(this).val(numbers.replace(/\D/, ''));
            });

            $('#txtDateOfBirth').focusout(function () {
                var value = $('#txtDateOfBirth').val();

                if (value == '') {
                    var dt = new Date();
                    var month = dt.getMonth() + 1;
                    if (month < 10)
                        $('#txtDateOfBirth').val(dt.getDate() + '/0' + month + '/' + dt.getFullYear());
                    else
                        $('#txtDateOfBirth').val(dt.getDate() + '/' + month + '/' + dt.getFullYear());
                }
            });

            $('#txtEmiratesIDExpiry').focusout(function () {
                var value = $('#txtEmiratesIDExpiry').val();

                if (value == '' || value.length != 10) {
                    var dt = new Date();
                    var month = dt.getMonth() + 1;
                    if (month < 10)
                        $('#txtEmiratesIDExpiry').val(dt.getDate() + '/0' + month + '/' + dt.getFullYear());
                    else
                        $('#txtEmiratesIDExpiry').val(dt.getDate() + '/' + month + '/' + dt.getFullYear());
                }
            });

            $('#txtFirstName').keydown(function (e) {
                var key = e.keyCode;
                if (!((key == 8) || (key == 9) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            });
            $('#txtLastName').keydown(function (e) {
                var key = e.keyCode;
                if (!((key == 8) || (key == 9) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            });

            $('#submit').click(function () {
                try {
                     
                    if (!$("#registrationForm").valid()) {

                        $('html, body').animate({
                            scrollTop: $("#registrationForm").offset().top
                        }, 20);

                        return;
                    }
                    if ($('#ddlTitle').val() == 'Other' && $('#txtOther').val() == '') {
                        swal("Alert!", "Please specify other business type!", "warning");
                        $('#txtOther').focus();
                        return;
                    }

                    var title = "";
                    if ($("#ddlTitle").val() == 'Other') {
                        title = $("#ddlTitle").val() + ": " + $("#txtOther").val();
                    } else {
                        title = $("#ddlTitle").val();
                    }

                    var dob = $("#txtDateOfBirth").val();
                    dob = dob.split('/');
                    dob = dob[1] + '-' + dob[0] + '-' + dob[2];

                    var exp = $("#txtEmiratesIDExpiry").val();
                    if (exp != '') {

                        exp = exp.split('/');
                        exp = exp[1] + '-' + exp[0] + '-' + exp[2];
                    }

                    var lst = {
                        'Title': title,
                        'FirstName': $("#txtFirstName").val(),
                        'LastName': $("#txtLastName").val(),
                        'DOB': dob,
                        'Nationality': $("#ddlNationality option:selected").text(),
                        'CountryOfResidence': $("#ddlCountryOfResidence option:selected").text().split('(')[0],
                        'MobileNumber': $("#ddlCountryOfResidence option:selected").val() + ' ' + $("#txtMobile").val(),
                        'Email': $('#txtEmail').val(),
                        //'Organization': $("#txtOrganization").val(),
                        //'Position': $('#txtPosition').val(),
                        'EmiratesID': $('#txtEmiratesID').val(),
                        'EmiratesExpiry': exp,
                        'RegistrationType': 'Media',
                        'DateRegister': new Date(),
                        'Language': 'English',
                        'Status': 2,
                    };


                    $.ajax({
                        url: '@Url.Action("SaveRegistration", "Media")',
                        type: "POST",dataType: 'json',
                        contentType: "application/json",
                        data: JSON.stringify({
                            'lst': lst,
                        }),
                        beforeSend: function (data) {
                            $("#loader").show();
                        },
                        success: function (data) {
                            if (data.success) 
                                location.href = "../media/thankyou";
                             else 
                                swal("Failed!", "Unable to Registration!", "Error");
                        },
                        error: function () {
                                swal("Failed!", "Unable to Registration!", "Error");
                        },
                        complete: function () {
                            $("#loader").hide();
                        },
                    });
                } catch (e) {
                    alert(e);
                }
            });
            $('#ddlTitle').change(function () {
                var value = $(this).val();
                if (value == 'Other') {
                    $('#divOther').show('fast');
                } else {
                    $('#divOther').hide('fast');
                }
            });

            $('#txtEmiratesIDFront').change(function () {

                var fileUpload = $("#txtEmiratesIDFront").get(0);
                var files = fileUpload.files;

                if (files.length == 0) {
                    alert("Please upload front side of Emirates ID");
                    return;
                }
                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    if (files[i].size > 10485760) {
                        alert("Emirates ID Front picture size is too large! Max file size is 10 MB");
                        $('#txtEmiratesIDFront').val('');
                        return;
                    }
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@Url.Action("uplaodFrontEmiratesID", "Media")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    beforeSend: function (data) {
                        $("#loader").show();
                        $("#lblMsg").show();

                    },
                    success: function (data) {

                    },
                    error: function () {

                    },
                    complete: function () {
                        $("#loader").hide();
                        $("#lblMsg").hide();
                    },
                });


            });

            $('#txtEmiratesIDBack').change(function () {

                var fileUpload = $("#txtEmiratesIDBack").get(0);
                var files = fileUpload.files;

                if (files.length == 0) {
                    alert("Please upload back side of Emirates ID");
                    return;
                }

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    if (files[i].size > 10485760) {
                        alert("Emirates ID Back picture size is too large! Max file size is 10 MB");
                        $('#txtEmiratesIDBack').val('');
                        return;
                    }
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@Url.Action("uplaodBackEmiratesID", "Media")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    beforeSend: function (data) {
                        $("#loader").show();
                        $("#lblMsg").show();
                    },
                    success: function (data) {

                    },
                    error: function () {

                    },
                    complete: function () {
                        $("#loader").hide();
                        $("#lblMsg").hide();
                    },
                });


            });
        });
    </script>
</body>

</html>