﻿
@{
    ViewBag.Title = "Thank you";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="../Assets/css/style1.css" rel="stylesheet" />

</head>

<body>
    
    <div class="selectWrapper" style="background:white !important;padding-top:0 !important; margin-top:0 !important; top:0 !important">
        <div class="logo">
            <img src="../assets/img/logoemail.png" alt="">
        </div>
        <div class="smallWrapper">
            <div class="contentSelect">
                <h1 style="color:white;">Thank You!</h1>
                <p>
                    Thank you for registering to attend the Astronaut Launch Event at MBRSC.
                    <br />
                    Please check your email for your registration confirmation.
                </p>
                <a href="../Media/Index" class="btn cstmBtnNext"> Continue</a>
            </div>
        </div>
    </div>
</body>
</html>